# ignore target and resources
target/
src/test/resources/

# ignore .classpath and .project files
.classpath
.project

# ignore eclim .settings
.settings

# ignore swap and log files
*.swp
*.log

# ignore local files created in scripts/
scripts/*.txt
scripts/datasets/
scripts/results/

# ignore pycache for python scripts
__pycache__/

# ignore local TODO files
TODO
